{
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 4,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "useTabs": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"]
}
